In [1]:
import pandas as pd
import numpy as np

In [12]:
path="data-rekap-harian-kasus-covid-19-per-kelurahan-di-provinsi-dki-jakarta-bulan-juli-2020.csv"
df=pd.read_csv(path)
df

,id_kel,nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,odp,proses_pemantauan,selesai_pemantauan,odp_meninggal,pdp,masih_dirawat,pulang_dan_sehat,pdp_meninggal,positif,dirawat,sembuh,meninggal,self_isolation,keterangan
0,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,12979,2,12918,59,5300,5,3735,1560,1458,246,312,27,873,NaN
1,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,13826,258,13556,12,3369,169,3122,78,1895,24,1713,74,84,NaN
2,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,582,6,575,1,82,4,72,6,53,5,41,4,3,NaN
3,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,23,0,23,0,18,1,17,0,16,0,16,0,0,NaN
4,3173051001,DKI JAKARTA,JAKARTA BARAT,KEBON JERUK,KEBON JERUK,749,4,744,1,74,4,67,3,76,2,49,7,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,339,0,339,0,2,0,2,0,11,0,10,0,1,NaN
265,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,86,0,86,0,11,3,7,1,2,0,1,0,1,NaN
266,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,88,0,88,0,14,1,13,0,4,1,1,0,2,NaN
267,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,175,3,172,0,17,1,13,3,5,1,1,0,3,NaN
268,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,105,0,105,0,1,0,1,0,0,0,0,0,0,NaN

In [13]:
to_drop=['nama_provinsi','nama_kecamatan','nama_kelurahan','keterangan']

In [14]:
df.drop(to_drop,inplace=True,axis=1)

In [15]:
df

,id_kel,nama_kota,odp,proses_pemantauan,selesai_pemantauan,odp_meninggal,pdp,masih_dirawat,pulang_dan_sehat,pdp_meninggal,positif,dirawat,sembuh,meninggal,self_isolation
0,BELUM DIKETAHUI,BELUM DIKETAHUI,12979,2,12918,59,5300,5,3735,1560,1458,246,312,27,873
1,LUAR DKI JAKARTA,LUAR DKI JAKARTA,13826,258,13556,12,3369,169,3122,78,1895,24,1713,74,84
2,3173061005,JAKARTA BARAT,582,6,575,1,82,4,72,6,53,5,41,4,3
3,3174071006,JAKARTA SELATAN,23,0,23,0,18,1,17,0,16,0,16,0,0
4,3173051001,JAKARTA BARAT,749,4,744,1,74,4,67,3,76,2,49,7,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,3101021002,KAB.ADM.KEP.SERIBU,339,0,339,0,2,0,2,0,11,0,10,0,1
265,3173031008,JAKARTA BARAT,86,0,86,0,11,3,7,1,2,0,1,0,1
266,3174021001,JAKARTA SELATAN,88,0,88,0,14,1,13,0,4,1,1,0,2
267,3173041001,JAKARTA BARAT,175,3,172,0,17,1,13,3,5,1,1,0,3
268,3101021001,KAB.ADM.KEP.SERIBU,105,0,105,0,1,0,1,0,0,0,0,0,0

In [19]:
#memilih data
x = df.iloc[2:,:] #independent kolom
print(x)
y = df.iloc[:] #target

         id_kel           nama_kota  odp  proses_pemantauan  \
2    3173061005       JAKARTA BARAT  582                  6
3    3174071006     JAKARTA SELATAN   23                  0
4    3173051001       JAKARTA BARAT  749                  4
5    3172061001       JAKARTA UTARA  595                  1
6    3173021003       JAKARTA BARAT  326                  0
..          ...                 ...  ...                ...
264  3101021002  KAB.ADM.KEP.SERIBU  339                  0
265  3173031008       JAKARTA BARAT   86                  0
266  3174021001     JAKARTA SELATAN   88                  0
267  3173041001       JAKARTA BARAT  175                  3
268  3101021001  KAB.ADM.KEP.SERIBU  105                  0

     selesai_pemantauan  odp_meninggal  pdp  masih_dirawat  pulang_dan_sehat  \
2                   575              1   82              4                72
3                    23              0   18              1                17
4                   744              1   74              4                67
5                   593              1  178              1               175
6                   326              0   47              6                39
..                  ...            ...  ...            ...               ...
264                 339              0    2              0                 2
265                  86              0   11              3                 7
266                  88              0   14              1                13
267                 172              0   17              1                13
268                 105              0    1              0                 1

     pdp_meninggal  positif  dirawat  sembuh  meninggal  self_isolation
2                6       53        5      41          4               3
3                0       16        0      16          0               0
4                3       76        2      49          7              18
5                2       45        0      31          7               7
6                2       91        6      59          2              24
..             ...      ...      ...     ...        ...             ...
264              0       11        0      10          0               1
265              1        2        0       1          0               1
266              0        4        1       1          0               2
267              3        5        1       1          0               3
268              0        0        0       0          0               0

[267 rows x 15 columns]

In [21]:
df.describe()

,odp,proses_pemantauan,selesai_pemantauan,odp_meninggal,pdp,masih_dirawat,pulang_dan_sehat,pdp_meninggal,positif,dirawat,sembuh,meninggal,self_isolation
count,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000
mean,354.408922,2.226766,351.631970,0.550186,66.330855,2.862454,56.018587,7.449814,42.684015,3.304833,24.832714,2.394052,12.152416
std,1149.491427,15.717322,1135.233516,3.693769,380.233410,10.446007,294.622418,95.142481,145.354484,15.126704,106.178874,5.141371,53.937801
min,12.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,140.000000,0.000000,140.000000,0.000000,18.000000,1.000000,16.000000,0.000000,14.000000,1.000000,7.000000,0.000000,3.000000
50%,213.000000,1.000000,213.000000,0.000000,29.000000,2.000000,25.000000,1.000000,24.000000,2.000000,14.000000,1.000000,6.000000
75%,326.000000,2.000000,322.000000,0.000000,45.000000,3.000000,40.000000,2.000000,38.000000,3.000000,23.000000,3.000000,11.000000
max,13826.000000,258.000000,13556.000000,59.000000,5300.000000,169.000000,3735.000000,1560.000000,1895.000000,246.000000,1713.000000,74.000000,873.000000